<%= link_to "Make another request", root_path %>
<%= link_to "Download as CSV", "#{query_path(@query)}.csv" %>

<h3>Results</h3>
<table>
  <th>Text</th>
  <th>Count</th>
  <th>Relevance</th>
  <% @response.each do |entity| %>
    <tr>
      <td><%= entity["text"] %></td>
      <td><%= entity["count"] %></td>
      <td><%= entity["relevance"] %></td>
    </tr>
  <% end %>
</table>