<h4>Disambiguation Data:</h4>
<% if entity_dis["subType"] %>
  <li>Subtype: <%= entity_dis["subType"] %></li>
<% end %>
<% if entity_dis["name"] %>
  <li>Name: <%= entity_dis["name"] %></li>
<% end %>
<% if entity_dis["website"] %>
  <li>Website: <%= link_to entity_dis["website"], entity_dis["website"], target: "_blank" %></li>
<% end %>
<% if entity_dis["dbpedia"] %>
  <li>DBpedia: <%= link_to entity_dis["dbpedia"], entity_dis["dbpedia"], target: "_blank" %></li>
<% end %>
<% if entity_dis["freebase"] %>
  <li>Freebase: <%= link_to entity_dis["freebase"], entity_dis["freebase"], target: "_blank" %></li>
<% end %>
<% if entity_dis["geonames"] %>
  <li>Geonames: <%= link_to entity_dis["geonames"], entity_dis["geonames"], target: "_blank" %></li>
<% end %>
<% if entity_dis["yago"] %>
  <li>Yago: <%= link_to entity_dis["yago"], entity_dis["yago"], target: "_blank" %></li>
<% end %>

