<h1>Natural Language Processing</h1>

<h4>Query Options Explained</h4>
<ul>
  <li>Source Text: Returns the source text from the uploaded file. Disabled by default.</li>
  <li>Sentiment: Identifies positive or negative statements, feelings, and opinions within text. Disabled by default. <%= link_to "See documentation", "http://www.alchemyapi.com/api/sentiment-analysis/", target: "_blank" %></li>
  <li>Disambiguate: Resolves detected companies, locations, and people to a unique "instance." Enabled by default. <%= link_to "See documentation", "http://www.alchemyapi.com/api/entity/disambiguation/", target: "_blank" %></li>
  <li>Linked Data: Include linked data on disambiguated entities. Enabled by default. <%= link_to "See documentation", "http://www.alchemyapi.com/products/features/linked-data/", target: "_blank" %></li>
  <li>Quotations: Identifies utterances from source text. Disabled by default. <%= link_to "See documentation", "http://www.alchemyapi.com/api/entity/quotations/", target: "_blank" %></li>
  <li>Coreference: Resolves he/she/his/her/etc coreferences into named entities. Enabled by default. <%= link_to "See documentation", "http://www.alchemyapi.com/blog/new-alchemyapi-release-quotations-extraction-coreferences/", target: "_blank" %></li>
  <li>Max Retrieve: The maximum number of terms you would like to be extracted from the text. Default is 50.</li>
</ul>

<%= form_for :alchemy_api, url: :api_new_alchemy do |f| %>
  <%= f.label :select_the_analysis_type %>
  <%= f.select :entity_analysis, [["Entity Analysis", 1]] %>
  <div class="checkbox_container">
    <%= f.label :enable_source_text, class: "checkbox_label" %>
    <%= f.check_box :source_text %>
  </div>
  <div class="checkbox_container">
    <%= f.label :enable_sentiment, class: "checkbox_label" %>
    <%= f.check_box :sentiment %>
  </div>
  <div class="checkbox_container">
    <%= f.label :disable_disambiguation, class: "checkbox_label" %>
    <%= f.check_box :disambiguate, options = {}, checked_value = "0", unchecked_value = "1" %>
  </div>
  <div class="checkbox_container">
    <%= f.label :disable_linked_data, class: "checkbox_label" %>
    <%= f.check_box :linked_data, options = {}, checked_value = "0", unchecked_value = "1" %>
  </div>
  <div class="checkbox_container">
    <%= f.label :disable_coreference, class: "checkbox_label" %>
    <%= f.check_box :coreference, options = {}, checked_value = "0", unchecked_value = "1" %>
  </div>
  <div class="checkbox_container">
    <%= f.label :enable_quotations, class: "checkbox_label" %>
    <%= f.check_box :quotations %>
  </div>
  <%= f.label :max_retrieve %>
  <%= f.number_field :max_retrieve, value: "50" %>
  <%= f.file_field :file %>
  <%= f.submit "Upload File" %>
<% end %>

