<h1>Natural Language Processing</h1>

<h4>Query Options Explained</h4>
<ul>
  <li>Max Retrieve: The maximum number of terms you would like to be extracted from the text. Default is 50.</li>
</ul>

<%= form_for :alchemy_api, url: :api_new_alchemy do |f| %>
  <%= f.label :max_retrieve %>
  <%= f.number_field :max_retrieve, value: "50" %>
  <%= f.file_field :file %>
  <%= f.submit "Upload File" %>
<% end %>

